body{
	color:red;
	background-image:url("person-pointing-at-black.jpg");
	background-size:cover;
	margin:0;
	top:0;
	
	}
h1	{
	color:black;
	text-align:center;
	font-size:4em;
	
}
main{
	width:100%;
	position:absolute;
	top:20%
	
}
p{
	color:black;
	text-align:center;
	font-size:1.5em;
	
}